/*1*/
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "LatoBold";
  src: url("../fonts/Lato-Bold.ttf");
}
.accordion {
  width: 560px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordion-item {
  border: 1px solid var(--Outline, #c6cdda);
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  width: 560px;
}
.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  color: var(--Blue-heading, #283f75);
  font-family: "Lato", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 21px */
  /* padding: 20px 30px 70px 20px; */
}
.accordion-content {
  display: none;
  padding: 20px;
}
.accordion-arrow {
  width: 10px;
  height: 10px;
  border: solid var(--Blue-heading, #283f75);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}
.accordion-item.active .accordion-arrow {
  transform: rotate(-135deg);
}
.section_first_task {
  margin: 0 auto;
  width: 1360px;
  padding: 48px 102px 32px 102px;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  font-family: "Lato", sans-serif;
}
.box_text_first_task {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Lato", sans-serif;
}
.section_first_task p + p {
  margin-top: 1em;
}
.first-task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 103px;
}
.first-task-title {
  color: #283f75;
  font-family: "Lato", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 44.2px */
  letter-spacing: -0.34px;
  text-align: start;
}
.main-text {
  color: #5b5b5b;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-align: start;
}
.first-task p {
  max-width: 540px;
}
